@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "./nav-bar.css";
@import "./message.css";

* {
  font-family: "Roboto", sans-serif;
}

td,
th {
  vertical-align: middle;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
#container {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 200px repeat(2, 1fr);
  grid-template-areas: "h h h" "a m m" "f f f";
}
#header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  box-shadow: 0 3px 10px #3337;

  height: 10vh;
  width: 100%;
  grid-area: h;

  z-index: 201;
}
#aside {
  position: relative;
  min-height: 85vh;
  width: 100%;
  grid-area: a;
}
#main {
  position: relative;
  min-height: 85vh;
  overflow-y: auto;

  width: 100%;
  grid-area: m;
  padding: 10px 20px;

  transition: 500ms;
}
#footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 20px;

  min-height: 5vh;
  width: 100%;
  grid-area: f;
}
@media (max-width: 675px) {
  #container {
    grid-template-areas: "h h h" "a a a" "m m m" "f f f";
  }
  #aside {
    position: absolute;
    width: 50vw;
    top: 0;
    left: 0;

    transform: translateX(-100%);
    transition: 250ms;

    background-color: #333;
    z-index: 200;
  }
  #aside.open {
    transform: translateX(0);
  }

  .table-mobile,
  .table-mobile thead,
  .table-mobile tbody,
  .table-mobile th,
  .table-mobile td,
  .table-mobile tr {
    display: block;
  }

  .table-mobile thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-mobile tr {
    border: 1px solid #ccc;
  }

  .table-mobile td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .table-mobile td.center {
    display: flex;
    justify-content: center;
  }

  .table-mobile td:before {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 20px;

    transform: translateY(-50%);

    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
